.page-loader {
  opacity: 1;
  transition: opacity 0.3s ease-out;
}

.page-loader.hidden {
  opacity: 0;
  pointer-events: none;
}

.loader-text {
  animation: pulse 1.5s infinite;
}

@keyframes pulse {
  0% {
    opacity: 0.5;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0.5;
  }
}

.page-content {
  opacity: 0;
  transform: translateY(10px);
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.page-content.fade-in {
  opacity: 1;
  transform: translateY(0);
}

pre {
  white-space: pre;
  overflow-x: auto;
}

pre code, .prose pre code {
  white-space: pre-wrap;
  overflow-wrap: anywhere;
  max-width: 100%;
  display: block;
}

.prose code::before,
.prose code::after {
  content: unset;
}

blockquote p::before,
blockquote p::after {
  content: none !important;
}
