---
const { title } = Astro.props;
import siteConfig from '../custom/site-config';
import Bubbles from "../components/Bubbles.astro";
---

<!doctype html>
<html lang="en" class="h-full" style="scroll-padding-top: 4.5rem;">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.png" />
		<meta name="generator" content={Astro.generator} />
		<title>{siteConfig.siteName} - {title}</title>
	</head>
	<body class="h-full bg-white dark:bg-gray-900">
		<div class="fixed inset-0 z-[-1] bg-gradient-to-br from-white to-gray-200 dark:from-gray-800 dark:to-gray-900"></div>
		<Bubbles />
		<slot />
	</body>
</html>